In [4]:
print("Welcome to Python")

Welcome to Python

In [5]:
x = 10

In [6]:
y = 15

In [7]:
id(x)

140711527097008

In [8]:
id(y)

140711527097168

In [9]:
x = 15

In [10]:
id(y)

140711527097168

In [11]:
id(x)

140711527097168

In [12]:
a = 100
b = 200

In [13]:
a = b

In [14]:
c

NameError: name 'c' is not defined

In [15]:
thing = 5
THING = 10
thIng = 15
thinG = 20

In [ ]:
# Statement:-


a = 10

b = 20 # Assigngment statement



# Multiple Statement

c = 1 + 2 + 3 + 4 + 5 + \
6 + 7 + 8 + 9


d = (1 + 2 + 3 + 4 + 5 + 
6 + 7 + 8 + 9)


# 
a = 10; b = 20; c = 30;


a, b, c = 10, 10.10, "Gopinath"



a = b = c = 10

In [16]:
a = "Gopinath"

In [17]:
type(a)

str

In [18]:
a = 10

In [19]:
type(a)

int

In [20]:
lst = []

In [21]:
type(lst)

list

In [22]:
tpl = ()

In [23]:
type(tpl)

tuple

In [ ]:
name1 = "Gopinath", "Balaji", "Babu", "Gopinath"