# Learn Tuple:-

1. A tuple sequence of value 
2. its immutable.
3. () - Parenthesis

    - Create tuple
    - Update tuple
    - Delete tuple
    - Slicing tuple

# Create Tuple

In [4]:
# way 1:-
mobile = ('sumsung', 'Oneplus', 'LG', 'Apple')

print(type(mobile))
print(id(mobile))
print(mobile)

<class 'tuple'>
1725485996296
('sumsung', 'Oneplus', 'LG', 'Apple')

In [5]:
# way 2:-
mobiles = ()
print(type(mobiles))

<class 'tuple'>

In [7]:
# Way 3:-
m = ('Apple',)

type(m)

tuple

In [9]:
# Way 4:-
m = 'sumsung', 'LG', 'Apple'
type(m)

tuple

In [10]:
m.count('LG')

1

In [11]:
m.index('Apple')

2

# Update

In [13]:
mobile = ('a', 'b', 'c', 'd')
num = ('5', '1', '3', '2', '4')

In [14]:
print(id(mobile))
print(id(num))

1725500668008
1725500230248

In [15]:
c = mobile + num

In [17]:
type(c)

tuple

In [18]:
id(c)

1725500231880

In [19]:
num[2]

'3'

# Delete

In [20]:
del c

In [21]:
c

NameError: name 'c' is not defined

# Slicing

In [32]:
num = ('5', '1', '3', '2', '4', 1 ,2 ,3)

In [31]:
len(num)

5

In [ ]:
# collection[index]
# collection[startIndex : endIndex]
# collection[startIndex : endIndex : step]

In [27]:
num[0 : 4]

('5', '1', '3', '2')

In [28]:
num[:4]

('5', '1', '3', '2')

In [33]:
num[3 : 8]

('2', '4', 1, 2, 3)

In [34]:
num[3:]

('2', '4', 1, 2, 3)

In [35]:
num

('5', '1', '3', '2', '4', 1, 2, 3)

In [41]:
num[ : 8]

('5', '1', '3', '2', '4', 1, 2, 3)

In [42]:
num[0]

'5'

In [43]:
num[-1]

3

In [ ]:
 0 1 2 3 4 5 6
"W E L C O M E"
-7-6-5-4-3-2-1

In [44]:
name = "WELCOME"

In [45]:
name[0]

'W'

In [46]:
name[-7]

'W'

In [47]:
num

('5', '1', '3', '2', '4', 1, 2, 3)

In [49]:
num[::]

('5', '1', '3', '2', '4', 1, 2, 3)

In [50]:
num[::-1]

(3, 2, 1, '4', '2', '3', '1', '5')

In [52]:
name[::-1]

'EMOCLEW'

In [ ]:
len()
max()
min()
sum()
del()

+
*

in / not in

In [56]:
num

('5', '1', '3', '2', '4', 1, 2, 3)

In [57]:
len(num)

8

In [58]:
max(num)

TypeError: '>' not supported between instances of 'int' and 'str'

In [59]:
min(num)

TypeError: '<' not supported between instances of 'int' and 'str'

In [60]:
sum(num)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [61]:
name = ('a', 'b', 'c')

In [62]:
name * 2

('a', 'b', 'c', 'a', 'b', 'c')

# membership in / not in

In [63]:
name

('a', 'b', 'c')

In [65]:
'B' in name

False

In [66]:
'B' not in name

True

In [67]:
'b' not in name

False

In [68]:
a = (1, 2, 3)

In [69]:
id(a)

1725500599576

In [70]:
a = (1, 2, 3, 4)

In [71]:
id(a)

1725501142424

In [72]:
tp = (1, 2, 3, 4, 5)

In [73]:
type(tp)

tuple

In [74]:
list(tp)

[1, 2, 3, 4, 5]

In [75]:
lst = [11, 12, 13, 14]

In [76]:
tuple(lst)

(11, 12, 13, 14)

In [82]:
name = "Gopinath"

type(name)

str

In [85]:
name1 = list(name)
type(name1)

list

In [79]:
tuple(name)

('G', 'o', 'p', 'i', 'n', 'a', 't', 'h')

In [80]:
ls = [1, 2, 3, 4, 5, 6, 7]

# for Loop

In [86]:
# "sequence of char(Str)", "List", "tuple", "set", "dict" and range()

# for i in collection:

for i in "Gopinath":
    print(i)

G
o
p
i
n
a
t
h

In [87]:
lst = [10, 20, 30, 40 ,50 , 60]

for i in lst:
    print(i)

10
20
30
40
50
60

In [88]:
for i in 10:
    print('hello')

TypeError: 'int' object is not iterable

# range()

In [89]:
range(index)
range(startIndex, endIndex)
range(startIndex, endindex, step)

range(0, 10)

In [95]:
for i in range(100, 121, 2):
    print(i, end="@@@")

100@@@102@@@104@@@106@@@108@@@110@@@112@@@114@@@116@@@118@@@120@@@