# Expressions:-

In [ ]:
- Lambda
- Map
- Filter
- reduce
- list Comprehension
- enumerate
- zip

# Lambda :-

In [ ]:
- Lambda function can take any number arguments, but it returns only one value in th form of expression.

- Anonymous function
 - it's return only expression (it's not return value)
 - we cant declare methods name for lambda expression (anonymous function)
 - its cant access global variable 
 - its one liner code, we cant use loop & cant declare blacks, but we can use if else with in lambda
 - no def keyword and no return keyword
 - map, filter & reduce
    
    
# Syntax:-
    
        # lambda aruguments : expression

In [1]:
def add_num(a, b):
    return a + b

In [2]:
add_num(100, 200)

300

In [3]:
add = lambda a, b : a + b

In [4]:
add(100, 200)

300

In [5]:
def sq(a):
    return a**2

In [6]:
def add_num(a, b):
    return a + b

In [7]:
sq

In [8]:
add_num

In [11]:
add = lambda a, b : a + b
add

In [13]:
pow = lambda a : a**2
pow

In [14]:
pow(10)

100

In [17]:
add = lambda a, b=1000 : a + b

In [18]:
add(20)

1020

In [21]:
add = lambda *args : sum(args)

In [22]:
add(1, 2, 3, 4, 5)

15

In [24]:
lam = lambda a, b, *args, **kwargs :  (a, b, args, kwargs)

In [25]:
lam(1, 2, 3, 'a', 'b', 'c', A = 1, B = 2, C = 3)

(1, 2, (3, 'a', 'b', 'c'), {'A': 1, 'B': 2, 'C': 3})

In [37]:
def sq1(a):
    print(a**3)

In [29]:
sq1(10)

1000

In [41]:
def call_function(x, y):
    # return sq1(10)
    print(y(x))

In [42]:
call_function(10, sq1)

1000
None

In [43]:
call_function(20, lambda a : a**3)

8000

In [44]:
# is even ?

is_even = lambda a : a % 2 == 0

In [46]:
is_even(11)

False

In [49]:
#if else in lambda


func = lambda a : a + 10 if a%2==0 else a + 5

In [50]:
func(11)

16

In [51]:
lst = ['a', 'B', 'c', 'D', 'a']   # a, a, B, c, D

In [52]:
lst

['a', 'B', 'c', 'D', 'a']

In [53]:
sorted(lst)

['B', 'D', 'a', 'a', 'c']

In [54]:
sorted(lst, reverse=True)

['c', 'a', 'a', 'D', 'B']

In [56]:
txt = lambda a : a.lower()

txt('G')

'g'

In [57]:
sorted(lst, key = lambda a : a.lower())

['a', 'a', 'B', 'c', 'D']

In [61]:
max_num = lambda a, b, c : a if a > b and a > c else (b if b > c else c) # find the question pls

max_num(40, 30, 120)

120

In [ ]:
# Map:- 

    # syntax:
        # map(function_object, iterable...)
        # map(function_object, iterable1, iterable2.......)

In [69]:
def sq(a):
    return a**2

In [70]:
sq(10)

100

In [71]:
ls = []
for i in range(1, 11):
    ls.append(sq(i))

ls

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [73]:
fun = lambda a : a**2

In [74]:
ls = []
for i in range(1, 11):
    ls.append(fun(i))

ls

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [76]:
list(map(sq, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [81]:
list(map(lambda a : a**2, [1, 2, 3, 4, 5]))

[1, 4, 9, 16, 25]

In [83]:
txt = "Python"                       # string, list, tuple, set, dict, range
fn = lambda a : a.upper()


list(map(fn, txt))

['P', 'Y', 'T', 'H', 'O', 'N']

In [86]:
#txt = "Python is simple Oops programming languabe"
x = list(map(lambda a : a.upper(), "Python is simple Oops programming languabe".split(' ')))

In [87]:
" ".join(x)

'PYTHON IS SIMPLE OOPS PROGRAMMING LANGUABE'

In [88]:
list(map(lambda a : len(a), "Python is simple Oops programming languabe".split(' ')))

[6, 2, 6, 4, 11, 8]

In [89]:
fun = lambda x, y : x * y

In [90]:
fun(10, 20)

200

In [91]:
ls1 = [1, 2, 3, 4, 5]
ls2 = [10, 20, 30, 40, 50]

tuple(map(lambda x, y : x * y, ls1, ls2))

(10, 40, 90, 160, 250)

In [96]:
ls1 = [1, 2, 3, 4, 5]
ls2 = [10, 20, 30, 40, 50]
ls3 = [5, 10]

tuple(map(lambda x, y, z: x + y + z, ls1, ls2, ls3))

(16, 32)

In [94]:

a = 10
list(map(lambda a, y : x * y, y=ls1, x=ls2))

TypeError: map() takes no keyword arguments

In [95]:
ls1 = [1, 2, 3, 4, 5]
ls2 = [10, 20, 30, 40, 50, 60, 70]

tuple(map(lambda x, y : x * y, ls1, ls2))

(10, 40, 90, 160, 250)

In [ ]:
# Filter:- 

    - filter(function_object, iterable)

In [97]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [100]:
list(filter(lambda a : (a%2 == 0), lst))

[2, 4, 6, 8, 10]

In [ ]:
# reduce:-  ===> [10, 20, 30 , 40, 50]

    # syntax:-  reduce(function, iterable)

In [101]:
# func = reduce(function, [s1, s2, s3, s4])


- its performs a repetitive operation over the pair of the iterable

In [103]:
import functools as ft


lst = [1, 2, 3, 4, 5]

ft.reduce(lambda a, b : a + b, lst)        # (((1 + 2) + 3) + 4) + 5 = output

15

In [111]:
lst = [1000, 50, 30, 70, 100]

In [112]:
max_value = ft.reduce((lambda a, b : a if a > b else b), lst)

In [113]:
print(max_value)

1000

In [ ]:
Write a program to covert celsius to fahrenheit of given data?

Formula -> F = (9/5)*c + 32

In [149]:
dt = {
    
    'Chennai'    : 29,
    'Bangalore'  : 36,
    'Hyderabad'  : 19,
    'Delhi'      : 26,
    'Mumbai'     : 32
    }

In [150]:
f = lambda data : (data[0], ((9/5) * data[1] +32))

In [151]:
dict(map(lambda data : (data[0], ((9/5) * data[1] +32)), dt.items()))

{'Chennai': 84.2,
 'Bangalore': 96.8,
 'Hyderabad': 66.2,
 'Delhi': 78.80000000000001,
 'Mumbai': 89.6}

In [152]:
dt = {
    
    'Chennai'    : 29,
    'Bangalore'  : 36,
    'Hyderabad'  : 19,
    'Delhi'      : 26,
    'Mumbai'     : 32
    }

In [153]:
dt.items()

dict_items([('Chennai', 29), ('Bangalore', 36), ('Hyderabad', 19), ('Delhi', 26), ('Mumbai', 32)])

In [154]:
list(dt.items())

[('Chennai', 29),
 ('Bangalore', 36),
 ('Hyderabad', 19),
 ('Delhi', 26),
 ('Mumbai', 32)]

In [158]:
for i, j in list(dt.items()):
    print(i, j)

Chennai 29
Bangalore 36
Hyderabad 19
Delhi 26
Mumbai 32

In [169]:
# Zip:- 

ls1 = [10, 20, 30, 40, 50]

ls2 = ['a', 'b', 'c', 'D', 'e']

ls3 = ['A', 'B', 'C']

In [170]:
list(zip(ls1, ls2, ls3))

[(10, 'a', 'A'), (20, 'b', 'B'), (30, 'c', 'C')]

In [172]:
for i, j, k in zip(ls1, ls2, ls3):
    print(i, j, k)

10 a A
20 b B
30 c C

In [178]:

ls = []
for i in range(1, 11):
    ls.append(sq(i))

ls

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [177]:
list(map(lambda a : a**2, range(1, 11)))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [179]:
# List comprehensions:-

[i**2 for i in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [183]:
dt = {
    
    'Chennai'    : 29,
    'Bangalore'  : 36,
    'Hyderabad'  : 19,
    'Delhi'      : 26,
    'Mumbai'     : 32
    }

In [184]:
ls = list(dt.values())

In [187]:
[int(((9/5) * temp + 32)) for temp in ls]

[84, 96, 66, 78, 89]

In [ ]:
list(map(lambda, iterable)) vs list compre

In [ ]:
[expression for i in collection]